{% extends 'products/main.html' %}
{% load static %}

{% block content %}

<!-- Search form and "list view/card view buttons -->

<div class="row">
  <div class="col-md-8">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <a class="btn btn-secondary" href="{% url 'product_home' %}">
        <input type="radio"> List View
      </a>
      <a class="btn btn-secondary" href="{% url 'card_view' %}">
        <input type="radio" checked> Card View
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <form action="{% url 'card_view' %}" method="get">
      <input name="search" type="text" placeholder="Name...">
      <button>Search</button>
    </form>
  </div>
</div>

<!-- Card view -->

	<div class="row">
	{% for product in products %}
		<div class="col-4">
		<div class="card">
			<img class="card-img-top" src="{{ product.image.url }}">
			<div class="card-body">
				<h5><strong>{{ product.name }}</strong></h5>
				<h6><strong>{{ product.product_category }}</strong></h6>
				<hr>
				<a class="btn btn-outline-success" href="{% url 'product_detail' product.id %}">View</a>
				<h4 style="display: inline-block; float: right"><strong>${{ product.price }}</strong></h4>
			</div>
		</div>
		</div>
	{% endfor %}
	</div>

{% endblock %}